
body {
  margin: 0;
  background-color: honeydew;
  font-family: sans-serif;
  font-weight: 300;
  color: #000;
}



.logo {
  display: flex;
z-index: 2;
opacity: 1;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
margin-top: 55px;
position: absolute;

}

.logo img {
  align-items: center;
  width: 30%;
  opacity: 1

}

.front {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover!important;
  color: honeydew;
  padding: 50px 0;
  box-shadow: 0px 10px 5px #000;
}
p {
  color: #000;
}

h1, h2 {
font-family: 'Montserrat', sans-serif;  font-weight: 700;
color: #cb694b; }

h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
    font-weight: 600; }

h1 {
  font-size: 2.5em;
  text-transform: uppercase; }

h2 {
  font-size: 2em;
  text-transform: uppercase; }

h3 {
  font-size: 1.33em;
color: #cb694b; }

h4 {
  font-size: 1em;
color: #000; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.67em; }



  /* NAV BAR AND MENU DESKTOP */


.flexbox-container {
  display: flex;
  margin-top: 2%;
  margin-right: 2%;
  position: absolute;
  z-index: 3;
  right: 1%;
  padding: 2%;

}

.flexbox-container li {
  margin: 2px;
  padding: 6px;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.flexbox-container a {
  font-size: 20px;
  color: #000;
  text-decoration: none;

}

.flexbox-container a:hover {
background-color: #000; 
color: honeydew;
border-bottom: 5px solid #cb694b;

}

.flexbox-container a:active {
  background-color: #000;
  border-bottom: 5px solid #cb694b;

  }

  .flexbox-container a:visited {
    background-color: #000;
    text-decoration: line-through;
    }

  /* NAV BAR AND HAMBURGER MENU MOBILE */

.mobile {
  /* margin-top: -27px; */
  display: none;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  
  z-index: 10;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: honeydew;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #cb694b;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: honeydew;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 75vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #232323;
  opacity: 0.95;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* SECCIONES */

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content {
  width: 40%;
  height: 100%;
  min-width: 960px;
  max-width: 1280px;
  margin: 4em auto; }

.diptic {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top; }

.triptic {
  display: inline-block;
  width: 48%;
  height: 100%;
  padding: 1.5em;
  vertical-align: top; }

.centrado {
    padding-left: 80px;
}


#concept {
    background: url("/images/bgd-madera.jpg")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover!important;
    color: white;
    /* padding: 50px 0;  */
}

#vineyard {
    background: url("/images/darkwood.jpg")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover!important;
    color: white;
    /* padding: 50px 0; */
}

#vineyard p {
  color: honeydew;
}
#vineyard h2 {
  color: honeydew;
}
#vineyard h3 {
  color: honeydew;
}
.half-black {
    background: rgba(0, 0, 0, 0.5);
}

#terroir {
background: url("/images/bgd-madera.jpg")!important;
background-position: center center;
background-repeat: no-repeat;
background-size: cover!important;
color: white;
/* padding: 50px 0; */
}

#wines {
  background: url("/images/darkwood.jpg")!important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover!important;
  color: white;
  /* padding: 50px 0; */
  }

  #wines p {
    color: honeydew;
  }
  #wines h2 {
    color: honeydew;
  }
  #wines h3 {
    color: honeydew;
  }

#wineandpolo {
    background: url("/images/bgd-madera.jpg")!important;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover!important;
    color: white;
    /* padding: 50px 0; */
}

#exports {
background: url("/images/bgd-madera.jpg")!important;
background-position: center center;
background-repeat: no-repeat;
background-size: cover!important;
color: white;
padding: 50px 0;
}

/* 
#terroir h2, #vineyard h2, #exports h2 {
    color:white;
} */

.wrapper {
  /* background: url("/images/bgd-madera.jpg")!important; */
background-position: center center;
background-repeat: no-repeat;
background-size: cover!important;
color: honeydew;
padding: 50px 0;
/* border-bottom: 3px solid #232323; */
}

.wrapper-product {
  background: url("/images/bgd-firulete.jpg")!important;
background-position: center center;
background-repeat: no-repeat;
background-size: cover!important;
color: white;
padding: 50px 0;
}


.content {
  display: flex;
  flex-direction: row;


}

img.bottle {
  width: 100%;
  margin-top: -30px;
}

.description {
  width: 50%;
  min-height: 675px;
  padding: 4em;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  box-shadow: 0px 0px 55px rgb(0 0 0 / 40%);

}

.description.materialize {
  opacity: 0; }

ul.list {
  list-style: none;
  margin: 0;
  margin-bottom: 2.49em;
  padding: 0;
  font-size: 0.85em;
color: black; }

                                    /*  TRANSICIONES */

/* SECCION CONCEPT */

.img-wrapper {
  display: grid;
  height: 110vh;
}

.img-wrapper div {
  grid-column: 1;
  grid-row: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  transition: opacity 0.5s;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.7);
}
/* 
section:last-of-type {
  max-width: 800px;
  padding: 0 15px;
  margin: 15vh auto;
} */


.btn {
  padding: 10%;
  text-align: center;
  color: honeydew;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #000;
  text-decoration: none;
}

.btn:active {
  color: honeydew;
  background-color: #000;

}

.btn:visited {
  color: honeydew;
  background-color: #000;
}

.btn:hover {
  background-color: honeydew;
  color: #cb694b;
  border-bottom: 5px solid #cb694b;
}



/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.1em;
  margin: 2%
} 


span {
  font-weight: bold;
}



@media only screen and (min-width: 1025px) and (max-width: 1439px){

   .description {
     width:100%;
   }

   img.bottle {
    width: 250%;
    margin-top: -30px;
    margin-left: -95%;

}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.3em;
}

h3 {
  width: 130%;
  font-size: 1.7em;
  margin-top: 200px;
  margin-left: 100px;
}
h4 {

  font-size: 2em;

}

.list li {
  font-size: 2em;
}
}

/* BOTON GALERIA */

.tripctic .centrado {
  width: 300%;
}
.btn {
  display: block;
  margin-left: 35%;
}

@media only screen and (min-width: 1440px) and (max-width: 2700px){

.content {
  width: 100%;
}
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}


h3 {
  width: 100%;
  font-size: 2em;
  margin-top: 100px;
  margin-left: 100px;
}
h4 {

  font-size: 1.5em;

}

.list li {
  font-size: 1.5em;
}
}

.flexbox-container {
  font-size: 1.4em;
  margin: 1%;
  right: 250px;

}
.flexbox-container li {
  font-size: 1.4em;
  margin: 1%;

}
.flexbox-container a {
margin: 1%;
font-weight: bold;
padding: 2%
}

.logo {
  margin-top: 12%;
}

.content {
  min-width: 50%;
  max-width: 70%
 }
 
.img-wrapper {
  height: 140vh;
}

@media only screen and (min-width: 761px) and (max-width: 1024px) {


  .img-wrapper {
    height: 80vh;
  }
  .flexbox-container {
    font-size: 1em;
    margin: 1%;
    right: 250px;
  
  }
  .flexbox-container li {
    font-size: 1em;
    margin: 1%;
  
  }
  .flexbox-container a {
  margin: 1.4%;
  font-weight: bold;
  padding: 2%
  }

.content {


 min-width: 710px;
}
img.bottle {
width: 130%;
margin-left: -55px;
margin-top: 20px;
}

h1 {
  font-size: 1.8em;
}
}

.footer-container {
  margin-top: -100px;
  border-top: 1px solid black;
}


@media only screen and (max-width: 770px)  {

.logo img {
  width: 70%;
  margin-top: -55%;
}
        /* NAV BAR RESPONSIVE */

        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }

       /* SECCIONES RESPONSIVE */

  .wrapper {
    min-width: 300px; }
  .content {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: -15%;
   }
  .centrado {
    margin-top: -2.5em;
  }
  .triptic {
    display: block;
    width: 100%; }
  .diptic {
    width: 100%;
    /* margin-left: -30px; */
  } 
  .description {
    min-height: 0;
    padding: 0 1em;
    background-color: white 0.5;
    width: 100%; 
    /* margin-left: -30px; */
  
  }
    
  .img-wrapper {
    display: grid;
    height: 70vh;
  }

       /* TEXTOS RESPONSIVE */

  h1 {
    font-size: 2em;
  }
  a.btn {
    padding: 15% 5%;
    font-size: 1.1em;
  }
 footer p {
    text-align: center;
  }
  }






  /* GALLERY */


.text-container {
  margin-top: 10%;
  margin-left: 5%;
  width: 30%;
  background: rgba(255, 255, 255, 0.7);
}

.text-container h1 {
  margin-top: 10%;
  width: 70%;
  margin-left: 10%;
  line-height: 150%;
  border-bottom: 5px solid #cb694b;
}

.text-container p {
  width: 50%;
  margin-left: 10%;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 200%;

}

.galleryitem-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  /* margin-left: 100px; */
  background-image: url(/images/bgd-firulete.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 60%;
  margin-top: 10%;
  box-shadow: 2px 2px 200px 1px rgba(0, 0, 0, 0.2);
} 

.image-container img {
  width: 100%;
}

/* GALLERY MEDIA QUERIES  */

@media screen and (max-width: 767px) {

  .galleryitem-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    /* margin-left: 100px; */
    background-image: url(/images/bgd-firulete.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .text-container {
    margin-top: 15%;
    margin-left: 5%;
    padding: 10%;
    width: 90%;
    background: rgba(255, 255, 255, 0.7);
  }
  
  .text-container h1 {
    margin: 5%;
    width: 90%;
    line-height: 170%;
  }
  
  .text-container p {
    width: 90%;
    margin-left: 5%;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 210%;
  
  }
  
  
  .image-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
  } 
  
  .gallerycontact {
    margin: 5%;
  }
  

  .eventsimg {
    height: 80vh;
  }

}  


@media only screen and (min-width: 1740px) and (max-width: 2700px){
  .gallerynav li {
    font-size: 1em;
  }

  .gallerynav {
    margin-left: 15%;
    margin-top: -0.5%;
  }
  
  .text-container p {
    font-size: 1.6em;
  }

  .text-container h1 {
    font-size: 2.7em;
  }

  .gallerycontact {
    margin-top: 5%;
  }

  .gallerycontact h2 {
    font-size: 2.7em;
  }

  .gallerycontact p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1740px){

  .text-container h1 {
    font-size: 2.5em;
  }


  .text-container p {
    font-size: 1.4em;
  }

  .gallerycontact {
    margin-top: 5%;
  }

  .gallerycontact h2 {
    font-size: 3em;
  }

  .gallerycontact p {
    font-size: 1.2em;
  }

  .gallerynav li {
    font-size: 0.8em;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .gallerynav li {
    font-size: 0.7em;
  }

  .gallerynav {
    margin-left: 15%;
    margin-top: -1.5%;
  }

  .text-container h1 {
    font-size: 1.5em;
  }


  .text-container p {
    font-size: 1.1em;
  }

  .gallerycontact {
    margin-top: 5%;
  }

  .gallerycontact h2 {
    font-size: 2em;
  }

  .gallerycontact p {
    font-size: 1.1em;
    margin: 2%;
  }

  .galleryitem-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    /* margin-left: 100px; */
    background-image: url(/images/bgd-firulete.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-container {
    width: 90%;
    padding: 8%;
  }

  .image-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
  }
}